@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
html, body, #root {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
}


